/* CUSTOM FONT START */
@font-face {
  font-family: 'futura-renner';
  src: url('./fonts/FuturaRenner-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura-renner';
  src: url('./fonts/FuturaRenner-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura-renner';
  src: url('./fonts/FuturaRenner-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* CUSTOM FONT END */

/* GENERAL STYLING START */
:root {
  --bx-shadow: 0 0 20px #59595933;
  --b-radius-main: 0.5rem;
  --b-radius-input: 2px;
  --outline-light: 2px solid #a1a1a1a1;
  --outline-bold: 2px solid #212121;

  --input-clr: #3b3b3b;
  --err-clr: #ce1212;
  --fc-main: #212121;
  --fc-white: #ffffff;

  --fs-large: 2.5rem;
  --fs-medium: 1.4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 1rem/1.7 'futura-renner', sans-serif;
  font-size: 1rem;
  color: var(--main-fc);
  padding: 0 2rem;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: normal;
}

.main {
  max-width: 30rem;
  margin: 3rem auto;
}
/* GENERAL STYLING END */

/* FORM START */
.title {
  text-align: center;
  font-size: var(--fs-large);
}

.form {
  padding: 2rem 3rem;
  box-shadow: var(--bx-shadow);
  border-radius: var(--b-radius-main);
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-bottom: 3rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: var(--fs-medium);
}

.input-field {
  padding: 0.2em 0.5em;
  font-size: var(--fs-medium);
  color: var(--input-clr);
  border: none;
  border-radius: var(--b-radius-input);
  outline: var(--outline-light);
  font-family: inherit;
}

.input-field:focus,
.input-field:active,
input-field:focus-visible {
  outline: var(--outline-bold);
}

.error,
.required-label {
  color: var(--err-clr);
  line-height: 1;
}

.submit-btn {
  color: var(--fc-white);
  background-color: var(--fc-main);
  border: none;
  padding: 0.7em 1.5em;
  font-size: 1.2rem;
  border-radius: var(--b-radius-main);
  cursor: pointer;
  margin-top: 2rem;
  font-weight: 600;
  font-family: inherit;
}
